html {
	body {
		main {
			article {
				section {
					&.content {
						address {
							text-align: justify;
						}
						i {
							&.fas {
								color: rgba(#e23636, 0.89);

								&.fa-inverse {
									color: #24250f;
								}
							}
						}
						.alert {
							display: none;
						}
						.jumbotron {
							h1 {
								color: #b52828;
								i {
									&.fas {
										color: rgba(#333333, 0.89);

										&.fa-inverse {
											color: #24250f;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
