@import "~simplelightbox/src/simple-lightbox";
@import "~bootstrap/scss/mixins/_breakpoints";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;
$sl-font-family: "Raleway";

html {
	body {
		main {
			article {
				section {
					&.content {
						.gallery {
							.showcase-list {
								width: 100%;
								.showcase {
									position: relative;
									width: 20%;
									display: inline-block;
									padding: 6px;
									@include media-breakpoint-down(sm) {
										background-color: aqua;
									}
									@include media-breakpoint-down(sm) {
										background-color: #d61d36;
										width: 50%;
									}
									.image {
										display: block;
										position: relative;
										background-color: #f5f5f5;
										overflow: hidden;
										height: 200px;

										:before {
											background-color: rgba(0, 0, 0, 0.4);
											content: "";
											padding-top: 100%;
											pointer-events: none;
											position: absolute;
											top: 0;
											left: 0;
											right: 0;
											background-color: rgba(0, 0, 0, 0.018);
											z-index: 1;
											-webkit-transition: all 0.2s ease-out;
										}

										:hover,
										&:focus {
											// background-color: rgba(0,0,0,0.4);
											&:before {
												background-color: rgba(0, 0, 0, 0.4);
											}
										}
										&.wallpaper {
											background-position: center;
											background-size: cover;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.sl-overlay {
			background-color: rgba(221, 241, 220, 0.397);
			opacity: 1;
		}
		.sl-wrapper {
			&.simple-lightbox {
				button {
					&.sl-close {
						background-color: #ca1212d8;
						border-radius: 50%;
						top: 72px;
					}
				}
				.sl-counter {
					font-size: 1.5rem;
					top: 65px;
				}
				.sl-navigation {
					button {
					}
				}
				.sl-image {
					.sl-caption {
					}
				}
			}
		}
	}
	&.has-lightbox {
		overflow: hidden;
	}
}
