html {
	body {
		main {
			article {
				section {
					&.content {
						.card {
							.card-img-top {
								background-repeat: no-repeat;
								background-size: cover;
								background-position: top;
								height: 250px;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
