<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>

	<body>
		<main role="main" class="container-fluid">
			<article>
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="jumbotron">
								<h1>
									<span><i class="fas fa-id-card"></i></span>
									Contact Us&hellip;
								</h1>
								<p class="lead">
									Duo Reges: constructio interrete. Summum ením bonum exposuit
									vacuitatem doloris; Cur haec eadem Democritus? Iubet igitur
									nos Pythius Apollo noscere nosmet ipsos. Quid enim me
									prohiberet Epicureum esse, si probarem, quae ille diceret?
									<small>Itaque ad tempus ad Pisonem omnes..</small>
								</p>
								<p>
									<button
										type="button"
										class="btn btn-primary btn-lg"
										data-toggle="modal"
										data-target="#contactModal"
									>
										Launch demo modal
									</button>
								</p>
							</div>
						</div>
					</div>
				</section>
			</article>
			<!-- Contact Form -->
			<article>
				<section class="content contact">
					<div class="text-center">
						<h1 class="title text-center">Contact Us</h1>
						<h4 class="description info-title">Give Us A Ring | Visit Us</h4>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-1">
								<div class="alert alert-dismissible fade in show" role="alert">
									<button
										type="button"
										class="close"
										data-dismiss="alert"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<!-- class="alert alert-dismissible animated bounce" -->
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<form
									role="form"
									class="needs-validation"
									novalidate
									id="contactForm"
								>
									<div class="form-row">
										<div class="col-lg-6">
											<div class="form-group has-feedback">
												<label class="control-label">Full Name</label>
												<input
													class="form-control"
													name="name"
													type="text"
													required
												/>

												<div class="valid-feedback">
													Looks good!
												</div>
												<div class="invalid-feedback">
													Your Full Name is missing!
												</div>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="form-group has-feedback">
												<label class="control-label"
													><span>Email address</span></label
												>
												<input
													class="form-control"
													name="email"
													type="email"
													required
												/>

												<div class="valid-feedback">
													Looks good!
												</div>
												<div class="invalid-feedback">
													Incorrect email address
												</div>

												<!-- Honeypot -->
												<input
													name="honeypot"
													autocomplete="off"
													class="honeypot"
													type="text"
												/>
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-12">
											<select
												class="form-control"
												name="selected"
												data-error="Please select a subject in the list."
												required
											>
												<option value="" selected
													><span class="text-muted"
														>Select a subject...</span
													></option
												>
												<option>General</option>
												<option>Complaint</option>
												<option>Suggestions</option>
												<option>Praise</option>
												<option>Other (Please specify)</option>
											</select>

											<div class="valid-feedback">
												Looks good!
											</div>
											<div class="invalid-feedback">
												Please choose a subject.
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-12">
											<label class="control-label">
												Your message
												<span id="charBreak" style="display: none;"
													>|
													<i id="charNum" class="small text-muted"></i>
												</span>
											</label>
											<textarea
												class="form-control"
												name="content"
												rows="5"
												maxlength="1000"
												required
											></textarea>

											<div class="valid-feedback">
												Looks good!
											</div>
											<div class="invalid-feedback">
												Your message is missing!
											</div>
										</div>
									</div>
									<div class="row">
										<!-- <div class="col-md-5"></div> -->
										<div class="col-md-6">
											<button
												type="submit"
												class="btn btn-primary btn-send btn-lg"
											>
												Submit
											</button>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 server-error"></div>
									</div>
								</form>
							</div>

							<div class="col-sm-12 col-md-4">
								<h2 class="title hidden"></h2>
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<h4 class="title">
											<span class="fa-stack fa-1x">
												<i class="fas fa-square fa-stack-2x"></i>
												<i class="fas fa-map-marker fa-stack-1x fa-inverse"></i>
											</span>
											Find us at the office
										</h4>
										<address class="pl-6">
											1st Street <br />
											Gauteng <br />
											South Africa
											<br />
										</address>
									</div>

									<div class="col-sm-12 col-md-12">
										<h4 class="title">
											<span class="fa-stack fa-1x">
												<i class="fas fa-square fa-stack-2x"></i>
												<i class="fas fa-phone fa-stack-1x fa-inverse"></i>
											</span>
											Give us a ring
										</h4>
										<address class="pl-6">
											<abbr title="Telephone">T:</abbr> +27 (11) 000 0000
											<br />
											<abbr title="Email">E:</abbr>
											<a href="mailto:#"></a> <br />
											Business Hour: <br />
											Mon - Fri, 8:00-16:00 <br />
										</address>
									</div>
								</div>
								<!-- <div id="map" class="map" style="overflow: hidden;"></div> -->
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>10 - 11</sup>
										<br />
										&quot;What should we do then&#63;&quot; the crowd asked.
										<br />
									</p>
									<footer>
										<cite title="Luke 3 : 10-11">&mdash; Luke 3 : 10-11</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>

		<div id="contactModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" hidden>
						<h5 class="modal-title">Contact</h5>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="font-size: 23px; line-height: 2;">
						<p>
							placuit quieta. Duo Reges: constructio interrete. Age, inquies,
							ista parva sunt. At, si voluptas esset bonum, desideraret. Si
							quidem, inquit, tollerem, sed relinquo&hellip;
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
</html>
