<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>

	<body>
		<main role="main" class="container-fluid">
			<article>
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="jumbotron">
								<h1>
									<span><i class="fas fa-home"></i></span>
									Fida&hellip;
								</h1>
								<p class="lead">
									Duo Reges: constructio interrete. Summum ením bonum exposuit
									vacuitatem doloris; Cur haec eadem Democritus? Iubet igitur
									nos Pythius Apollo noscere nosmet ipsos. Quid enim me
									prohiberet Epicureum esse, si probarem, quae ille diceret?
									<small>Itaque ad tempus ad Pisonem omnes..</small>
								</p>
								<p>
									<button
										type="button"
										class="btn btn-primary btn-lg"
										data-toggle="modal"
										data-target="#myModal"
									>
										Launch demo modal
									</button>
								</p>
							</div>
						</div>
					</div>
				</section>
			</article>

			<article>
				<section class="content">
					<div class="card-deck mb-3 text-center">
						<div class="card mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Free</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">
									$0 <small class="text-muted">/ mo</small>
								</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
								<button
									type="button"
									class="btn btn-lg btn-block btn-outline-primary"
								>
									Sign up for free
								</button>
							</div>
						</div>
						<div class="card mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Pro</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">
									$15 <small class="text-muted">/ mo</small>
								</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>20 users included</li>
									<li>10 GB of storage</li>
									<li>Priority email support</li>
									<li>Help center access</li>
								</ul>
								<button type="button" class="btn btn-lg btn-block btn-primary">
									Get started
								</button>
							</div>
						</div>
						<div class="card mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Enterprise</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">
									$29 <small class="text-muted">/ mo</small>
								</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>30 users included</li>
									<li>15 GB of storage</li>
									<li>Phone and email support</li>
									<li>Help center access</li>
								</ul>
								<button type="button" class="btn btn-lg btn-block btn-primary">
									Contact us
								</button>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" hidden>
						<h4 class="modal-title">Home</h4>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="font-size: 23px; line-height: 2;">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus
							est mos, modo recte sentiat. Primum Theophrasti, Strato, physicum
							se voluit; Vitae autem degendae ratio maxime quidem illis esset
							bonum, desideraret. Si quidem, inquit, tollerem, sed
							relinquo&hellip;
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
</html>
