<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>

	<body>
		<main role="main" class="container-fluid">
			<article>
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<div class="jumbotron">
								<h1>
									<span><i class="fas fa-users"></i></span>
									People&hellip;
								</h1>
								<p class="lead">
									Duo Reges: constructio interrete. Summum ením bonum exposuit
									vacuitatem doloris; Cur haec eadem Democritus? Iubet igitur
									nos Pythius Apollo noscere nosmet ipsos. Quid enim me
									prohiberet Epicureum esse, si probarem, quae ille diceret?
									<small>Itaque ad tempus ad Pisonem omnes..</small>
								</p>
								<p>
									<button
										type="button"
										class="btn btn-primary btn-lg"
										data-toggle="modal"
										data-target="#myModal"
									>
										Launch demo modal
									</button>
								</p>
							</div>
						</div>
					</div>
				</section>
			</article>

			<article>
				<section class="content">
					<div class="container">
						<div id="cardDeck"></div>
					</div>
				</section>
			</article>
		</main>

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" hidden>
						<h4 class="modal-title">People</h4>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" style="font-size: 23px; line-height: 2;">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gerendus
							est mos, modo recte sentiat. Primum Theophrasti, Strato, physicum
							se voluit; Vitae autem degendae ratio maxime quidem illis esset
							bonum, desideraret. Si quidem, inquit, tollerem, sed
							relinquo&hellip;
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
</html>
