<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

<footer class="page-footer font-small footer-white">
	<div class="social-bar">
		<div class="container">
			<div class="row py-4 d-flex align-items-center">
				<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
					<h6 class="mb-0">Get connected with us on social networks!</h6>
				</div>

				<div class="col-md-6 col-lg-7 text-center text-md-right social-buttons">
					<!--Instagram-->
					<a class="ins-ic" title="Coming Soon!!" target="_blank">
						<i class="fab fa-instagram white-text mr-4"> </i>
					</a>
					<!-- Facebook -->
					<a class="fb-ic" target="_blank">
						<i class="fab fa-facebook white-text mr-4"> </i>
					</a>
					<!-- Twitter -->
					<a hidden class="tw-ic" target="_blank">
						<i class="fab fa-twitter white-text mr-4"> </i>
					</a>
					<!--Linkedin -->
					<a class="li-ic" title="Coming Soon!!" target="_blank">
						<i class="fab fa-linkedin white-text mr-4"> </i>
					</a>
					<!-- Google +-->
					<a hidden class="gplus-ic" target="_blank">
						<i class="fab fa-google-plus white-text"> </i>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-copyright text-center py-4">
		<p class="text-muted" style="color: rgba(153, 153, 153, 0.15)">
			<small>
				© Copyright 2017 - All rights reserved | Made &amp; Designed
				<!-- with  -->
				<span hidden style="color: rgba(255, 0, 0, 0.5);">
					<i class="fa fa-heart"></i>
				</span>
				by Mohau Letlala
			</small>
			<!-- &quot;Hoax&quot;  -->
		</p>
		<!-- © 2018 Copyright: -->
	</div>
</footer>
