<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/">_Template</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse justify-content-between"
			id="navbarNav"
		>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/people.html">People</a>
				</li>
				<li hidden class="nav-item">
					<a class="nav-link" href="/gallery.html">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact.html">Contact Us</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
