$theme-colors: (
	"primary": rgba(48, 136, 62, 0.74),
	"danger": rgba(#e23636, 0.89)
);

@import "~bootstrap/scss/bootstrap";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/mixins";
@import "~@fortawesome/fontawesome-free/scss/core";
@import "~@fortawesome/fontawesome-free/scss/icons";

// you can pick and choose the features you actually need:
@import "~@fortawesome/fontawesome-free/scss/larger";
@import "~@fortawesome/fontawesome-free/scss/fixed-width";
// @import '~@fortawesome/fontawesome-free/scss/animated';
@import "~@fortawesome/fontawesome-free/scss/stacked";
// @import '~@fortawesome/fontawesome-free/scss/screen-reader';

// // the fonts itself, perhaps you only need "solid"
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@font-face {
	font-family: "Raleway";

	src: local("Raleway"), local("Raleway-Regular"),
		url("./assets/fonts/Raleway.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
	-webkit-tap-highlight-color: #ffffff;
	-webkit-tap-highlight-color: transparent;

	:focus {
		outline: 0;
	}
}

html {
	position: relative;
	min-height: 100%;

	body {
		background: rgba(245, 245, 245, 0.829);
		font-family: "Raleway", sans-serif;
		font-style: normal;
		font-weight: 200;
		line-height: 1.2;
		letter-spacing: 1px;
		margin-bottom: 160px; /* Margin bottom by footer height */
		@include media-breakpoint-down(sm) {
			background: rgba(187, 170, 170, 0.829);
		}

		header {
			nav {
				&.navbar {
					> .navbar-header {
						> .navbar-brand {
							color: inherit;
							height: 50px;
							line-height: 30px;
							padding: 0 15px;
							position: relative;
							> span {
								img {
									border: 0;
									height: 50px;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}

		main {
			padding: 90px 15px;
			// width: auto;
			article {
				section {
					&.content {
						.alert {
							text-align: center;
							position: absolute;
							z-index: 1;
							width: 100%;
						}
						.jumbotron {
							h1 {
								font-size: 45px;
							}
							p {
								color: rgba(#24250f, 0.89);
								font-size: 25px;
							}
						}
						i {
							&.fas {
								color: rgba(#333333, 0.89);

								&.fa-inverse {
									color: #24250f;
								}
							}
						}
					}
				}
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			// height: 160px; /* Set the fixed height of the footer here */
			// line-height: 60px; /* Vertically center the text there */
			background-color: #f5f5f5;

			&.footer-white {
				background-color: rgba(249, 249, 249, 0.85);
			}
			.social-bar {
				background-color: rgba(245, 170, 71, 0.198);
				.social-buttons {
					i {
						@include media-breakpoint-down(sm) {
							font-size: 1.833333em;
						}
					}
					.gplus-ic {
						color: #dd4b39;
					}
					.tw-ic {
						color: #55acee;
					}
					.fb-ic {
						color: #3b5998;
					}
					.li-ic {
						color: #55aceed3;
					}
					.ins-ic {
						color: #e95950;
					}
				}
			}
			hr {
				border-top: 1.4px dotted rgba(130, 92, 20, 0.198);
				margin: 9.5px;
			}
			.pull-center {
				display: inline-block;
				float: none;
			}
		}

		//===================================
		//==== Return To Top
		//===================================
		#return-to-top {
			position: fixed;
			bottom: 20px;
			right: 10px;
			background: rgba(231, 53, 8, 0.623);
			width: 50px;
			height: 50px;
			display: block;
			text-decoration: none;
			-webkit-border-radius: 35px;
			-moz-border-radius: 35px;
			border-radius: 35px;
			display: none;
			z-index: 1;
			-webkit-transition: all 0.3s linear;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			i {
				color: #fff;
				margin: 0;
				position: relative;
				left: 15px;
				top: 13px;
				font-size: 1.5em;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

			&:hover {
				background: rgba(138, 138, 138, 0.644);

				i {
					color: rgba(231, 53, 8, 0.623);
					top: 5px;
				}
			}
		}
	}
}
